// Change title attributes.
.site-title {
    font-size: 16px !important;
    font-weight: 600 !important;
}

// Change color or section expander up/down arrows.
.nav-list .nav-list-item .nav-list-expander {
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
}